*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
} 

:root{
    --coverColor: white;
    --textColor: black;
    --backgroundColor: #ffffff;
    --buttonColor: #FF69B4;
    --colorOne: #FFC0CB;
    --colorTwo: #FFB6C1;
    --colorThree: #FF69B4;
    --colorFour: #FF1493;
    --colorFive: #DB7093;
    --colorSix: #C71585;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(photos/coverOne-1.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    padding: 10px 10%;
}
nav{
    background-color: var(--colorFour);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 1%;
}
.logo{
    width: 140px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    position: absolute;
    left: 0;
    bottom:  -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.icon{
    display: flex;
    align-items: center;
}
.icon i{
    font-size: 20px;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}
.icon i:hover{
    color: var(--colorFive);
}
/* header-text */
.header-text{
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 33, 34, 0.377);
    /* display: flex; */
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding: 100px 1%; */
    text-align: center;
    color: white;
}
.header-text h1{
    font-size: 70px;
}
.header-text p{
    font-size: 20px;
    margin-top: 10px;
}
.header-text button{
    font-weight: bold;
    margin-top: 20px;
    border-radius: 20px;
    border: solid 2px white;
    padding: 10px 25px;
}
/* cart */
section{
    margin: 20px 0;
}
section h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
/* products */
.products{
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    gap: 10px;
    margin: 20px 30px;
}
.product{
    background-color: var(--coverColor);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    border: solid 1px var(--colorOne);
}
.product img{
    width: 100%;
    /* height: 200px; */
    aspect-ratio: 1 / 1;

    object-fit: cover;
    border-radius: 10px;
}
.product h2{
    font-size: 20px;
    margin: 10px 0;
}
.product p{
    font-size: 16px;
    margin: 10px 0;
    color: black;
}
.product button{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.product button:hover{
    background-color: var(--colorFive);
}
@media screen and (max-width: 768px){
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* section two */
.section{
    width: 100%;
    height: 60vh;
    background-image: url(photos/coverThree.jpg);
    background-position: center;
    background-size: cover;
}
.section-text{
    width: 100%;
    height: 60vh;
    background-color: rgba(36, 33, 34, 0.377);
    /* display: flex; */
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding: 100px 1%; */
    text-align: center;
    color: white;
}
.section-text h1{
    font-size: 50px;
}
.section-text p{
    font-size: 20px;
    margin-top: 10px;
}
.section-text button{
    margin-top: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 2px white;
    padding: 10px 25px;
}
/* second products */
.second-products{
    display: grid;
    grid-template-columns: repeat(2, 0.8fr);
    gap: 10px;
    margin: 20px 30px;
}
/* .productimg{
    border-radius: 10px;
    text-align: center;
    position: relative;
} */
.product-img img{
    width: 100%;
    height: 200px;
    /* aspect-ratio: 1 / 1; */

    object-fit: cover;
    border-radius: 10px;
}
/* text */
.product-text button{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    /* position: absolute; */
    bottom: 20px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}
.product-text button:hover{
    background-color: var(--colorFive);
}
.product-text{
    background-color: var(--coverColor);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.product-text h2{
    font-size: 20px;
    margin: 10px 0;
}
.product-text p{
    font-size: 16px;
    margin: 10px 0;
    color: black;
}
@media screen and (max-width: 768px){
    .second-products{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* blog */
.one h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.ourBlog{
    display: grid;
    grid-template-columns: repeat(2, 0.8fr);
    grid-template-rows: repeat(2, 0.8fr);
    gap: 10px;
    margin: 20px 30px;
}
.blog{
    background-color: var(--coverColor);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    /* border: solid 1px var(--colorOne); */
}
.blog img{
    width: 100%;
    height: 200px;
    /* aspect-ratio: 0.5 / 0.5; */
    object-fit: cover;
    /* border-radius: 10px; */
}
.blog h4{
    font-size: 20px;
    margin: 10px 0;
}
.blog p{
    font-size: 16px;
    margin: 10px 0;
    color: black;
}
@media screen and (max-width: 768px){
    .ourBlog{
        grid-template-columns: repeat(1, 1fr);
    }
}
