*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
} 

:root{
    --coverColor: white;
    --textColor: black;
    --backgroundColor: #FFC0CB;
    --buttonColor: #FF69B4;
    --colorOne: #FFC0CB;
    --colorTwo: #FFB6C1;
    --colorThree: #FF69B4;
    --colorFour: #FF1493;
    --colorFive: #DB7093;
    --colorSix: #C71585;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(photos/coverOne-1.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    padding: 10px 10%;
}
nav{
    background-color: var(--colorFour);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 1%;
}
.logo{
    width: 140px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    position: absolute;
    left: 0;
    bottom:  -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.icon{
    display: flex;
    align-items: center;
}
.icon i{
    font-size: 20px;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}
.icon i:hover{
    color: var(--colorFive);
}
/* header-text */
.header-text{
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 33, 34, 0.377);
    /* display: flex; */
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding: 100px 1%; */
    text-align: center;
    color: white;
}
.header-text h1{
    font-size: 80px;
}
.header-text p{
    font-size: 20px;
    margin-top: 10px;
}
.header-text button{
    margin-top: 20px;
    border-radius: 20px;
    border: solid 2px white;
    padding: 10px 25px;
}